/* basic styling for all sections */

:root{
  --fontfamily: Zain, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
--standardfont: 25px;
--hover: 26px;
--title: 29px;
--titlehover: 30px;
--h2: 35px;
  --paddingtop: 40px;
  --paddingbottom: 20px;
  --border: 5px solid #d4bebe;
    --borderradius: 20px;
    --backgroundcolor: #e9e7ee;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundcolor);
}

header {
  background-color: #b6a6ca;
  height: 150px;
  font-family: Lorinda Shadow, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
}
.title-link {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  height: 45px;
  background-color: #a09abc;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Outfit, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar__link {
  display: flex;
  align-items: center;
  background-color: #a09abc;
  color: #000000;
  text-decoration: none;
}
.navbar__link:active {
  text-decoration: none;
      color: #8262aa;
  font-size: var(--title);
}
.navbar__link:hover{
    text-decoration: none;
    color: #8262aa;
}
.nav-ul {
  list-style-type: none;
  display: flex;
}
.nav-li {
  display: inline;
  padding: 20px;
}

@font-face {
  font-family: Lorinda shadow;
  src: url(./Fonts/LondrinaShadow-Regular.ttf);
}

@font-face {
  font-family: Zain;
  src: url(./Fonts/Zain-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../Fonts/static/Outfit-Regular.ttf);
}

/* styling facilities */
/* 
main
h2
div .facility-content
fig img figcap *5
p
a*/
/* Colorpallette:
#A09ABC Cool gray
#B6A6CA lilac
#D5CFE1 Lavender(Web)
#E1DEE9 Lavender(web)lighter
#D4BEBE pale dogwood */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
  padding-top: var(--paddingtop);
  padding-bottom: var(--paddingbottom);
  text-align: center;
  font-family: var(--fontfamily);
  font-size: var(--h2);
}
h3 {
  font-family: var(--fontfamily);
  font-size: var(--title);
}

.facility-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 900px;
  border: var(--border);
  border-radius: var(--borderradius);
  background-color: #d5cfe1;
}

figure {
  display: flex;
  flex-direction: row;
}
.set-label {
  display: block;
  font-weight: bold;
  font-size: var(--standardfont);
}

figcaption {
  flex-direction: column;
  font-family: var(--fontfamily);
  font-size: var(--standardfont);
  padding-left: 20px;
  align-self: center;
}

p {
  font-family: var(--fontfamily);
  font-size: var(--standardfont);
}

.gallery-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #8262aa;
}
.gallery-link:hover {
  font-weight: 700;
  text-decoration: none;
  color: #8262aa;
  font-size: var(--hover);
  transition: 0, 3s;
}
.span-info {
  display: block;
}
