
/* basic styling for all sections */

:root {
  --fontfamily: Zain, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --standardfont: 25px;
  --hover: 26px;
  --title: 29px;
  --titlehover: 30px;
  --h2: 35px;
  --paddingtop: 40px;
  --paddingbottom: 20px;
  --border: 5px solid #d4bebe;
  --borderradius: 20px;
  --backgroundcolor: #e9e7ee;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundcolor);
}

header {
  background: url(./Images/header.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  font-family: Lorinda Shadow, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
}
.title-link {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  height: 45px;
  background-color: #a09abc;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Outfit, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar__link {
  display: flex;
  align-items: center;
  background-color: #a09abc;
  color: #000000;
  text-decoration: none;
}
.navbar__link:active {
  text-decoration: none;
  color: #8262aa;
}
.navbar__link:hover {
  text-decoration: none;
  color: #8262aa;
}
.nav-ul {
  list-style-type: none;
  display: flex;
}
.nav-li {
  display: inline;
  padding: 20px;
}

@font-face {
  font-family: Lorinda shadow;
  src: url(./Fonts/LondrinaShadow-Regular.ttf);
}

@font-face {
  font-family: Zain;
  src: url(./Fonts/Zain-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../Fonts/static/Outfit-Regular.ttf);
}
/* feedback-styling
Colorpallette:
#A09ABC Cool gray
#B6A6CA lilac
#D5CFE1 Lavender(Web)
#E1DEE9 Lavender(web)lighter
#D4BEBE pale dogwood 

H2,
.feedback-frame
.feedback-content
.reviews
figure
img
figcaption,
.feedback-form
.field
input
#feedback
#submit

*/

h2{
    font-family: var(--fontfamily);
    font-size: var(--h2);
    padding-top: var(--paddingtop);
    padding-bottom: var(--paddingbottom);
    text-align: center;
}
.feedback-frame{
display: flex;
justify-content: center;
align-items: center;
}

.feedback-border{
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: var(--title);
    font-family: var(--fontfamily);
    width: 1200px;
    border: var(--border);
    border-radius: var(--borderradius);
}
h3{
    padding-bottom: 20px;
}
.reviews{
width: 700px;
justify-content: center;
align-items: center;
text-align: center;
 padding-top: 20px;
  background-color: var(--backgroundcolor);
  font-family: var(--fontfamily);
  font-size: var(--standardfont);
}
.review{
    width: 650px;
    border: var(--border);
    border-radius: var(--borderradius);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 18px;
    background-color: #d5cfe1;;

}

p {
    margin: 20px;
    text-align: start;
  font-family: var(--fontfamily);
  font-size: 20px;
}
img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50px;

}
.feedback-title{
    display: block;
    font-weight: bold;
    font-size: var(--standardfont);
}
.feedback-form{
    width: 400px;
     padding-top: 20px;
  background-color: var(--backgroundcolor);
  font-family: var(--fontfamily);
  font-size: var(--standardfont);
}

.field {
    width: 400px;
}
input{
    background-color: #D4BEBE;
    height: 40px;
    border: 0px;
    padding-left: 20px;
    font-family: var(--fontfamily);
    font-size: 20px;
}

#submit{
padding: 2px;
height: 40px;
width: 100px;
}
#feedback{
    width: 400px;
    height:200px;
     font-family: var(--fontfamily);
    font-size: 20px;
}