/* header,
nav-bar 
ul,
main
section
section

Colorpallette:
#A09ABC Cool gray
#B6A6CA lilac
#D5CFE1 Lavender(Web)
#E1DEE9 Lavender(web)lighter
#D4BEBE pale dogwood



 */
:root{
--standardfont: 25px;
--hover: 26px;
--title: 28px;
--titlehover: 29px;
--h2: 35px;
  --paddingtop: 40px;
  --paddingbottom: 20px;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1dee9;
}

header {
  background-color: #b6a6ca;
  height: 150px;
  font-family: Lorinda Shadow, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
}
.title-link {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  height: 45px;
  background-color: #a09abc;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Outfit, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar__link {
  display: flex;
  align-items: center;
  background-color: #a09abc;
  color: #000000;
  text-decoration: none;
}
.navbar__link:active {
  text-decoration: none;
  font-size: var(--title);
}
.nav-ul {
  list-style-type: none;
  display: flex;
}
.nav-li {
  display: inline;
  padding: 20px;
}
.homepage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}
.intro {
  margin-left: 30%;
  padding-top: var(--paddingtop);
  padding-bottom: var(--paddingbottom);
}
h2{
    font-size: var(--h2);
  font-family: Zain, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.homepage-imgs {
  margin-left: 20px;
  flex: 3;
  display: flex;
  justify-content: center;
  gap: 10px 10px;
  flex-wrap: wrap;
}
.sidebar {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  max-width: 250px;
  min-height: 600px;
  background-color: whitesmoke;
  text-align: center;
  font-family: Zain, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
 
}

.sidebar-ul {
  list-style-type: none;
  padding: 20px;
}
.sidebar-li {
  padding: 10px;
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
   font-size: var(--standardfont);
}

.facilities-link {
  text-decoration: none;
  font-size: var(--title);
  color: #000000;
}
.facilities-link:hover {
  text-decoration: underline;
  font-size: var(--titlehover);
}
.li-link {
  text-decoration: none;
  font-size: var(--standardfont);
}
.li-link:hover {
  text-decoration: none;
  font-size: var(--hover);
}

.moreinfo-link {
  text-decoration: none;
  font-size: var(--standardfont);
  color: #000;
}
.moreinfo-link:hover {
  font-size: var(--hover);
  text-decoration: underline;
}

@font-face {
  font-family: Lorinda shadow;
  src: url(./Fonts/LondrinaShadow-Regular.ttf);
}

@font-face {
  font-family: Zain;
  src: url(./Fonts/Zain-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../Fonts/static/Outfit-Regular.ttf);
}
