/* header,
nav-bar 
ul,
main
section
section

Colorpallette:
#A09ABC Cool gray
#B6A6CA lilac
#D5CFE1 Lavender(Web)
#E1DEE9 Lavender(web)lighter
#D4BEBE pale dogwood



 */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1DEE9
}
header {
	background-color: #B6A6CA; 
	height: 150px;
	font-family: Lorinda Shadow, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 40px;
	text-align: center;
}

.nav-bar{
	height: 45px;
	background-color: #A09ABC;
	width: 100%; 
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: Outfit, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar__link {
	display: flex;
	align-items: center;
	background-color: #A09ABC;
	color: #000000;
	text-decoration: none;

}
ul {
	list-style-type: none;
	display: flex;

}
li{
	display: inline;
	padding: 20px;
}



.sidebar{
	margin-left: 80%;
	background-color: whitesmoke;
}

.intro-imgs{
	margin-left: 30%;

}

@font-face {
	font-family: Lorinda shadow;
	src: url(./Fonts/LondrinaShadow-Regular.ttf);
}

@font-face {
	font-family: Zain;
	src: url(./Fonts/Zain-Regular.ttf);
}
@font-face {
	font-family: Outfit;
	src: url(../Fonts/static/Outfit-Regular.ttf);
}